aiofiles==24.1.0
antlr4-python3-runtime==4.9.3
brotli==1.2.0
datasets==4.0.0
docstring-parser==0.18.0
ffmpy==1.0.0
fire==0.7.1
gradio==5.50.0
gradio-client==1.14.0
groovy==0.1.2
hf-transfer==0.1.9
llamafactory==0.9.5
modelscope==1.38.1
modelscope-hub==0.1.7
multiprocess==0.70.16
omegaconf==2.3.1
orjson==3.11.9
pandas==2.3.3
peft==0.18.1
pyarrow==24.0.0
pydub==0.25.1
pytz==2026.2
ruff==0.15.20
safehttpx==0.1.7
semantic-version==2.10.0
shtab==1.8.1
sse-starlette==3.0.3
termcolor==3.3.0
tomlkit==0.13.3
torchdata==0.11.0
trl==0.24.0
tyro==0.8.14
tzdata==2026.2
xxhash==3.8.1
